<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ summary }}">
  <meta name="author" content="{{ author }}">

  <title>{{ title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/assets/css/clean-blog.css" rel="stylesheet">
  <!-- <link href="/assets/css/code-snippet.css" rel="stylesheet"> -->
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/rainbow.min.css">

</head>
<body>
  {% block navigation %} {% endblock %}
  {% block content %} {% endblock %}
  {% block footer %} {% endblock %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((block) => {
      hljs.configure({
        languages: ['css', 'html', 'javascript', 'python']
      });
      hljs.highlightBlock(block);
    });
  });
</script>
</body>
</html>